@let position = addPosition();
@let annotations = annotationList();

<img [src]="page().imageUrl" appZoomImage />

@if (position) {
  <app-add-annotation
    [zoom]="zoomService.zoom()"
    [position]="position"
    (added)="saveAnnotation($event)"
    (closed)="addPosition.set(null)" />
}

@for (annotation of annotations; track annotation.id) {
  <app-annotation
    [zoom]="zoomService.zoom()"
    appDraggable
    [data]="annotation"
    (deleted)="deleteAnnotation(annotation)"
    (positionChange)="updateAnnotation(annotation, $event)" />
}
