<div class="container">
  <input type="text" autofocus [formControl]="textControl" (keyup.enter)="save($event)" (keyup.esc)="closed.emit()">
  <input type="file" accept="image/*" class="file-input" #fileInput (change)="onFileChange($event)">
  <button class="action" (click)="fileInput.click()">
    <mat-icon class="action_icon" aria-hidden="false" aria-label="Загрузить картинку" fontIcon="upload"></mat-icon>
  </button>
  <button class="action" (click)="save($event)">
    <mat-icon class="action_icon" aria-hidden="false" aria-label="Сохранить новую аннотацию"
      fontIcon="check"></mat-icon>
  </button>
  <button class="action" (click)="close($event)">
    <mat-icon class="action_icon" aria-hidden="false" aria-label="Отменить добавление аннотации"
      fontIcon="close"></mat-icon>
  </button>
</div>

@if (imageUrl()) {
<div class="image-preview">
  <img [src]="imageUrl()" class="annotation-image" />
  <button class="image-preview__remove" (click)="imageUrl.set(undefined)">
    <mat-icon fontIcon="close"></mat-icon>
  </button>
</div>
}
